<%- include("_header") -%>

<h1>Company News - <%= model.company_name %> </h1>

<form action="/news/<%= model.company_id %>" method="post">
  <div class="form-horizontal">

    <%- include("_news") -%>


  </div>
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<%- include("_footer") -%>